body {
  border: 0;
  margin: 0;
  top: 0;
  font-family: monospace;
  font-size: 12pt;
  line-height: 16pt;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:after {
  text-decoration: none;
  color: black;
}

p {
  margin-top: 0px;
}

#chen {
  position: fixed;
  top: 48vh;
  left: 20px;
  display: inline-block;
  z-index: 99;
}

#plus {
  font-size: 15pt;
  position: fixed;
  float: right;
  top: 48vh;
  right: 20px;
  text-align: right;
  display: inline-block;
  cursor: pointer;
  z-index: 99;
}

#menu {
  position: fixed;
  float: right;
  top: 48vh;
  right: 40px;
  margin: 0px;
  text-align: right;
  display: inline-block;
  z-index: 99;
}

#middle {
  font-style: italic;
  position: absolute;
  top: 48vh;
  left: 50vw;
  transform: translate(-50%,0);
  -webkit-transform: translate(-50%,0);
}

button {
  -webkit-appearance: none;
  background-color: rgba(0,0,0,0);
  border: 1px solid rgba(0,0,0,0);
  border-radius: 100%;
  outline: 0;
  text-align: center;
  font-size: 12pt;
  font-family: monospace;
  font-style: italic;
  cursor: pointer;
  display: inline-block;
  margin: 20px;
  width: 105px;
  height: 40px;
}

select {
  -webkit-appearance: none;
  border: 0px;
  padding: 0px;
  background-color: rgba(0,0,0,0);
}





/* -------------------- PROJECTS -------------------- */

#projects {
  position: fixed;
  margin: 0;
}

#projects img {
  max-width: 250px;
  max-height: 250px;
  left: 400px;
  transition: linear all .5s;
  -webkit-filter: blur(40px);
  float: left;
  opacity: 1;
}

#paris {
  left: 22vw;
  top: 15vh;
  position: absolute;
}

#avec_toi {
  left: 6vw;
  top: 72vh;
  position: absolute;
}

#day_trip {
  left: 56vw;
  top: 24vh;
  position: absolute;
}

#FJ {
  left: 36vw;
  top: 60vh;
  position: absolute;
}

#package {
  left: 65vw;
  top: 8vh;
  position: absolute;
}

#renjia {
  left: 80vw;
  top: 50vh;
  position: absolute;
}

li .title {
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  opacity: 0;
  transition: linear all .5s;
  pointer-events: none;
}

.title.show {
  opacity: 1;
}

#paris #c1 {
  border: 1px solid black;
  height: 250px;
  width: 100px;
}

#avec_toi #c2 {
  border: 1px dashed black;
  height: 150px;
  width: 220px;
}

#day_trip #c3 {
  border: 1px solid black;
  height: 250px;
  width: 200px;
}

#FJ #c4 {
  border: 1px solid black;
  height: 120px;
  width: 340px;
}

#package #c5 {
  border: 1px solid black;
  height: 200px;
  width: 220px;
}

#renjia #c6 {
  border: 1px dashed black;
  height: 120px;
  width: 150px;
}

#c1,#c2,#c3,#c4,#c5,#c6 {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(30deg);
  -webkit-transform: translate(-50%,-50%) rotate(30deg);
  opacity: 0;
  transition: linear all .5s;
  pointer-events: none;
}

#c1:hover,#c2:hover,#c3:hover,#c4:hover,#c5:hover,#c6:hover {
  -webkit-filter:blur(40px);
}

#m2:hover,#m3:hover,#m4:hover,#m5:hover,#m6:hover {
  text-decoration: line-through;
}






/* -------------------- SUBSCRIBE -------------------- */

#subscribe-container {
  position: fixed;
  width: 400px;
  height: 280px;
  background-color: snow;
  float: left;
  left: calc(50vw - 200px);
  top: calc(50vh - 140px);
  filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 1));
  display: none;
}

.submit {
  position: absolute;
  float: right;
  right: 10px;
  bottom: 10px;
}

#subscribe-container p {
  padding: 30px;
  padding-bottom: 0px;
  margin: 0px;
  width: 340px;
}

#subscribe-container input {
  width: 250px;
  outline: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid black;
  color: black;
  font-size: 12pt;
  font-family: monospace;
  padding: 5px;
}

::placeholder {
  color: grey;
  opacity: 1;
}




/* -------------------- ABOUT -------------------- */

#m1,#m2,#m3,#m4,#m5,#m6 {
  cursor: pointer;
}

#about-en {
  position: fixed;
  padding: 20px;
  display: block;
  z-index: 99;
  display: none;
}

#about-ch {
  position: fixed;
  padding: 20px;
  margin-top: 100vh;
  display: block;
  z-index: 99;
  transform: translate(0,-100%);
  -webkit-transform: translate(0,-100%);
  display: none;
}

#blur-bg {
  height: 100%;
  width:100%;
  position: fixed;
  margin: 0px;
  padding: 0px;
  border: 0px;
  display: none;
  /* background-color: pink; */
}

.blur {
  -webkit-filter: blur(40px);
}


.about-buttons {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  display: none;
  z-index: 99;
}

#close-blur {
  transition: linear all .5s;
  border: 1px dashed black;
}

#email-blur,#submit-blur {
  transition: linear all .5s;
  border: 1px solid black;
}

#close-blur:hover,
#email-blur:hover,
#submit-blur:hover {
  -webkit-filter: blur(40px);
}
